<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="col-12 container">
    <header class="col-12 center">
        <button class="button black-button col-4" href="wiki">home</button>
        <button class="button black-button col-4">wiki</button>
        <button class="button black-button col-4">about</button>
    </header>
    {% block content %}
        <section class="col-12">
            <header class="center text-header">nice to read</header>
        </section>
    {% endblock %}
</div>
</body>
</html>
